.shadow {
  margin-right: 30px;
}
.card-dealer {
  width: 95%; /* Set the width to 100% to occupy available space */
  margin-bottom: 40px;
  border: 3px solid white;
  display: flex;
  flex-direction: row;
  background-color: white;
  transition: all 0.5s ease;

  border: 1px solid #b2beb5;
}
.card-dealer:hover {
  transform: scale(0.9);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
